* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}


.row-box {
    display: flex;
    flex-flow: row nowrap;
    
}

.grid-square {
    background: white;
    border: 1px solid black;
    height: 48px;
    width: 48px;
}
